---
layout: front
title: 'Uday Gummalla'
---

If you do  have any comments on any post and can not comment on the page of the post then you can send me <a href="mailto:uday.gummalla@gmail.com?subject=comment on gummalla.com&body=Hi Uday, I have visited your site uday.gummalla.com">an email</a>

<section class="posts">
    {% for post in paginator.posts %}
        {% if post.link %}
            <h2><a href="{{ post.url }}">&#8682;&nbsp;</a><a href="{{ post.link }}">{{ post.title }}</a></h2>
        {% else %}
            <article>
                <h1>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h1>
                <p>{{ post.date | date: "%b %-d, %Y" }}</p>
                <p>{{ post.excerpt }}</p>
                <a href="{{ post.url | prepend: site.baseurl }}">Read more »</a>                
            </article>    
        {% endif %} 
    {% endfor %}

  <nav class="pagination" role="pagination">

    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
      {% else %}
        <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
      {% endif %}
    {% endif %}

    <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>

    {% if paginator.next_page %} 
      <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
    {% endif %} 
  </nav>

</section>
